Django>=4.2
djangorestframework
djangorestframework-simplejwt
drf-nested-routers
drf-spectacular
pytest
pytest-django
dj-database-url
python-decouple
gunicorn
django-cors-headers
whitenoise
requests
psycopg2-binary
flake8