<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresas Administradas por {{ usuario.nome }}</title>
</head>
<body>

    <h1>Empresas administradas por: {{ usuario.nome }}</h1>

    {% if empresa_administrada %}
        <ul>
            {% for empresa in empresa_administrada %}
                <li>{{ empresa.nome }} - CNPJ: {{ empresa.cnpj }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ usuario.nome }} não administra nenhuma empresa.</p>
    {% endif %}

    <br>
    <a href="/">Voltar para a página inicial</a>

</body>
</html>